<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.spark_project" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.parquet" level="ERROR"/>
    <logger name="org.apache.spark.sql.execution.datasources.parquet" level="ERROR"/>
    <logger name="ru.itmo.datamart" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
